<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
    <body>
    <table>
        <th:block th:each="customer : ${customerList}">
            <tr>
                <td th:text="${customer.firstName}">name</td>
                <td th:text="${customer.lastName}">lastname</td>
                <td><a th:href="@{|/customers/${customer.id}|}">details page></a></td>
            </tr>
        </th:block>
    </table>
    </body>
</html>