<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h3>Welcome to the index page!</h3>
    <p>See all customers <a th:href="@{/customers}">here</a></p>
    <p>Add customer to Repository: <a th:href="@{/customerform}">click here</a></p>
</body>
</html>