<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Result</h1>
    <p th:text="'First name: ' + ${customer.firstName}" />
    <p th:text="'Last name: ' + ${customer.lastName}" />
    <a th:href="@{/customerform}">Submit another customer</a>
    <a th:href="@{/}">Go to main page</a>

</body>
</html>